/*DESKTOP CONTACT/DEMO FORM*/
html {
	font-size: 62.5%;	
}
{
	margin:0;
	padding-top: 0rem;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
.wrapper {
	max-width:100%;
	width:100%;
	margin-left: 0rem;
	position:relative;
	}
#contact-form input[type="tel"],	
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="url"],
#contact-form textarea,
#contact-form button[type="submit"] {
	font-family: "MS Serif", "New York", serif;
}
#contact-form {
	border-radius:.5rem;
	-webkit-border-radius:.5rem;
	-moz-border-radius:.5rem;
	background-color: rgba(0,0,0,1); /*black*/
	padding-top: 120px;
	background-image: url(../img/page_front/talkinp_banner_1000.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: top right;
}
/*HGROUP*/
}
#contact-form h2 {
	color: rgba(254,37,0,1); /*orange*/
	display:block;
	font-size:2.25rem;
	margin-top: 2rem;
}
#contact-form h4 {
	color: rgba(254,37,0,1); /*orange*/
	margin:5px 0 15px;
	display:block;
	font-size:2rem;
	margin-top: 2rem;
}
#contact-form label span {
	cursor:pointer;
	color: rgba(254,37,0,1); /*orange*/
	display:block;
	margin-left: .5rem;
	margin-bottom: .3rem;
	font-weight:400;
	font-size: 1.8rem;
	margin-top: 1rem;
}
#contact-form input[type="tel"],	
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="url"],
#contact-form textarea,
#contact-form button[type="submit"] {
	width:75%;
	margin-left: .5rem;
	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 rgba(255,255,255,1); /*white*/
	-webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 rgba(255,255,255,1); /*white*/
	-moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 rgba(255,255,255,1); /*white*/
	border:1px solid /*rgba(0,0,0,1); /*black*/
	background: rgba(255,255,255,1); /*white*/
	border-radius:.5rem;
	padding: .5rem;
	margin-bottom: 2rem;
	margin-top: .5rem;
}
#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid rgba(204,204,204,1); /*grey*/
}
#contact-form textarea {
	min-height:150px;
	min-width: 75%;
	max-width:75%;
	margin-left: .5rem;
	margin-bottom: .5rem;
}
#contact-form button[type="submit"] {
	cursor:pointer;
	width:76%;
	border:none;
	background-color: rgba(254,37,0,1); /*blue*/
	color: rgba(255,255,255,1); /*white*/  /*rgba(0,0,0,1); /*black*/
	margin-left: .75rem;
	margin-bottom: 1rem;
	padding:.5rem;
	border-radius:.5rem;
}
#contact-form button[type="submit"]:hover {	
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.75); /*black*/
}
#contact-form input:focus,
#contact-form textarea:focus {
	outline:0;
	border:1px solid rgba(153,153,153,1); /*grey*/
}
::-webkit-input-placeholder {
    color: rgba(136,136,136,1); /*grey*/
}
:-moz-placeholder {
    color: rgba(136,136,136,1); /*grey*/
}
::-moz-placeholder {
    color: rgba(136,136,136,1); /*grey*/
}
:-ms-input-placeholder {
    color: rgba(136,136,136,1); /*grey*/
}
/*MEDIA QUERIES*/ 
/*MOBILE DISPLAY: Landscape phones and down*/
@media (max-width: 480px) {
.desktop {
display: none;
}
/*HGROUP*/
/*MOBILE CONTACT/DEMO FORM*/
#contact-form {
	border-radius:0rem;
	-webkit-border-radius:0rem;
	-moz-border-radius:0rem;
	background-color: rgba(0,0,0,1); /*black*/
	padding-top: 10px;
	background-image: url(../img/page_front/talkinp_banner_1000.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: top center;
	min-width: 100%
}
#contact-form textarea {
	min-height:40px;
	max-width:75%;
	margin-left: .5rem;
	margin-bottom: .5rem;
}
}
/*TABLET DISPLAY: Everything larger than landscape phone*/
@media (min-width: 481px) and (max-width: 959px) {
	.mobile {
		display: none;
}
/*TABLET CONTACT/DEMO FORM*/
#contact-form {
	border-radius:0rem;
	-webkit-border-radius:0rem;
	-moz-border-radius:0rem;
	background-color: rgba(0,0,0,1); /*black*/
	padding-top: 80px;
	background-image: url(../img/page_front/talkinp_banner_1000.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: top center;
	min-width: 100%
}
}
/*DESKTOP Larger than tablet*/
@media (min-width: 960px) {
	.mobile {
		display: none;
	}
}
	
		
