/*TYPE DESKTOP*/
@charset "utf-8";
/*HTML*/
html {
	font-size: 62.5%;
	font-family: 'Playball', cursive;
}
/*FRAMES, MARGINS, & WRAPS DESKTOP*/
.wrap {
	width: 100%;
	overflow: auto;
}
.floatL {
	float: left;
}
.floatR {
	float: right;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
} 
.clearfix {
	display: inline-block;
}
.clear {
	clear: both;
	overflow: hidden;
}	
.box {
	border:solid thin rgba(255,255,255,1);
}
/*IMAGES DESKTOP*/
section {
	margin: 0rem;
	padding: 0rem;
}
aside {
	margin: 0rem;
	padding: 0rem;
}
/*HEADER DESKTOP*/
header {
	margin: .5rem 0rem;
}	
/*NAV DESKTOP*/
nav {
	margin: .5rem 0rem;
}
#lowNav {
	margin: .5rem 0rem;
}
ul li {
	display: inline;
	float: left;
	width:20%;
	margin: .5rem 0rem;
	padding: 0rem;
	color: rgba(255,255,255,.75	); /*white*/	
	background-image: url(../img/page_front/nav_background_blue.jpg);
	background-size: cover;
	border-radius: .5rem;
	-webkit-border-radius: .5rem;
	-moz-border-radius:.5rem;
	border-top: solid thin rgba(0,0,0,1);
	border-bottom: solid thin rgba(0,0,0,1);	
}
ul a {
	display: block;
	overflow: hidden;
	font-size: 2rem;
	line-height: 3rem;
	text-align: center;
	border-radius: .5rem;
	-webkit-border-radius: .5rem;
	-moz-border-radius: .5;
	margin: 0rem 0rem;
	color: rgba(255,255,255,.85); /*white*/		
	text-decoration: none;
}
.desktop a:hover {/*Controls Nav Bar Decoration*/
	background-image: url(../img/page_front/nav_background_red.jpg);
	background-size: cover;
	border-radius: .5rem;
	-webkit-border-radius: .5rem;
	-moz-border-radius:.5rem;
	color:  rgba(255,255,255,.50); /*white*/	
}
/*BODY DESKTOP*/
body {	
	font-size: 1.4rem;
	color: rgba(255,255,255,1); /*white*/
	font-size: 1.4rem;
	color: rgba(255,255,255,.85); /*white*/	
	background-color: rgba(0,0,0,1); /*black*/	
	background-image: linear-gradient(bottom, rgb(0,0,0) 1%, rgb(148,8,8) 50%, rgb(5,5,5) 90%);
	background-image: -o-linear-gradient(bottom, rgb(0,0,0) 1%, rgb(148,8,8) 50%, rgb(5,5,5) 90%);
	background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 1%, rgb(148,8,8) 50%, rgb(5,5,5) 90%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 1%, rgb(148,8,8) 50%, rgb(5,5,5) 90%);
	background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 1%, rgb(148,8,8) 50%, rgb(5,5,5) 90%);
	background-size: 100% 100%;
}
/*SECTION DESKTOP*/
section {	
	margin-left: 1.5rem;	
	}
/*ARTICLE DESKTOP*/
article {
	font-family: "Times New Roman", Times, serif;
	text-align: left;	
	}
.text {
	padding: .75rem;
}
.text2 {
	margin: 1rem;
	padding: 2rem;
}
p {
	display: bloc;
}
/*FOOTER*/
footer {
	margin: .5rem; 0rem;
	font-size: 1.8rem;
	color: rgba(255,255,255,1); /*white*/
	opacity: .3;
	text-align: left;	
}
footer p {
	display: inline;
	padding-left: .5rem;
	margin-bottom: .5rem;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.4rem;
	border-left: solid thin rgba(255,255,255,1);
}
/*MEDIA QUERIES*/ 
/*MOBILE DISPLAY: Landscape phones and down*/
@media (max-width: 480px) {
.desktop {
display: none;
}
/*MOBILE NAV*/
.vert10 {
	min-width: 100%;
}
.vert8 {
	min-width: 100%;
	}
img {
	min-width: 100%;
	margin: 0rem;
	padding: 0rem;
}
header {
	display:none;
}
#mobile-nav-trigger {
	border-top: .2rem solid rgba(13,13,207,1); 
	border-bottom: .2rem solid rgba(13,13,207,1);	
	color: rgba(255,255,255,1); /*white*/
	background-color: rgba(0,0,0,1); /*black*/	
	line-height: 3.6rem;
	margin-top: .5rem;
	margin-bottom: 0rem;
	text-align: center;
}
nav {
	min-width: 100%;
	padding-bottom: 0rem;
	margin: 0rem;
	
}
ul li {
	width: 100%;
	padding: 0rem;
	margin: 0rem;
	color: rgba(255,255,255,.9); /*white*/
	background-image: url(../img/page_front/nav_background_red.jpg);
	border: none;
}
li a {	
	display: block;
	float: none;
	margin: 0rem;
	padding: 0rem;
	color: rgba(255,255,255,.90); /*white*/
	background-image: url(../img/page_front/nav_background_blue.jpg);
}	
/*MOBILE BODY*/
#MobLowNav{
	min-width: 100%;
	max-width: 100%;
	margin: 0rem;
	padding: 0rem;
}
#MobLowNav ul li {
	display: inline;	
	width:20%;
	margin: 0;
	padding: 0;
	color: rgba(255,255,255,.75	); /*white*/	
	background-image: url(../img/page_front/nav_background_blue.jpg);
	background-size: cover;
	border-radius: 0rem;
	line-height: 3.6rem;
}
#MobLowNav ul a {
	display: block;
	overflow: hidden;
	font-size: 1.5rem;	
	text-align: center;
	border-radius: 0rem;
	-webkit-border-radius: 0rem;
	-moz-border-radius: 0rem;
	margin: 0rem;
	padding: 0rem;
	color: rgba(255,255,255,.85); /*white*/	
	text-decoration: none;	
}
.mobile a:hover {
	background-image: url(../img/page_front/nav_background_red.jpg);
	background-size: cover;
	border-radius: .5rem;
	color:  rgba(255,255,255,.50); /*white*/	
}
}
/*TABLET DISPLAY: Everything larger than landscape phone*/
@media (min-width: 481px) and (max-width: 959px) {
.mobile {
	display: none;		
}
/*TABLET NAV*/
nav {
	margin-bottom: .5rem 0rem;
}
ul a {
	font-size: 1.4rem;
}
footer p {
	font-size: 1.4rem;
}
}
/*DESKTOP Larger than tablet*/
@media (min-width: 960px) {
	.mobile {
		display: none;
}
}

	

		


		
