/*TYPE DESKTOP*/

@charset "utf-8";

/*HTML*/

html {

	font-size: 62.5%;

	font-family: 'Playball', cursive;

}
/*HGROUP*/
h1 {
	margin-top: .5rem;
	font-size: 2.8rem;
	color: rgba(255,255,255,.2);
	font-family: Impact, Charcoal, sans-serif;
}

/*LINKS DESKTOP*/	



/*FRAMES, MARGINS, & WRAPS DESKTOP*/

.wrap {

	width: 100%;

	overflow: auto;

}

.floatL {

	float: left;

}

.floatR {

	float: right;

}

.clearfix:after {

	content: ".";

	display: block;

	clear: both;

	visibility: hidden;

	line-height: 0;

	height: 0;

} 

.clearfix {

	display: inline-block;

}

.clear {

	clear: both;

	overflow: hidden;

}	

.box {

	border:solid thin rgba(255,255,255,1);
	

}

/*IMAGES DESKTOP*/

img {
	margin: 0rem;
	padding: 0rem;
	border-radius: .75rem;
	-moz-border-radius: .75rem;
	-webkit-border-radius: .75rem;
	}
.top {
	margin-top: .5rem;

}
.top2 {
	margin-top: 3rem;
}

section {

	margin: 0rem;

	padding: 0rem;

}

aside {

	margin: 0rem;

	padding: 0rem;

}

/*HEADER DESKTOP*/

header {

	margin: .5rem .5rem;

}	

/*NAV DESKTOP*/

nav {

	margin: .5rem 0rem;
	padding: 0rem;

}

#lowNav {

	margin: .5rem 0rem;
	padding: 0rem;

}

ul li {

	display: inline;

	float: left;

	width:20%;

	margin: .5rem 0rem;

	padding: 0rem;

	color: rgba(255,255,255,.75	); /*white*/	

	background-image: url(../img/page_front/nav_background_blue.jpg);

	background-size: cover;

	border-radius: .5rem;

	-webkit-border-radius: .5rem;

	-moz-border-radius:.5rem;

	border-top: solid thin rgba(0,0,0,1);

	border-bottom: solid thin rgba(0,0,0,1);

}

ul a {

	display: block;

	overflow: hidden;

	font-size: 2rem;

	line-height: 3rem;

	text-align: center;

	border-radius: .5rem;

	-webkit-border-radius: .5rem;

	-moz-border-radius: .5;

	margin: 0rem 0rem;

	color: rgba(255,255,255,.85); /*white*/		

	text-decoration: none;

}

.desktop a:hover {/*Controls Nav Bar Decoration*/

	background-image: url(../img/page_front/nav_background_red.jpg);

	background-size: cover;

	border-radius: .5rem;

	-webkit-border-radius: .5rem;

	-moz-border-radius:.5rem;

	color:  rgba(255,255,255,.50); /*white*/	

}

.footerLink {

	text-decoration: none !important;

	background-image: none !important;

	color: rgba(255,255,255,1);

}

/*BODY DESKTOP*/

body {	

	font-size: 1.6rem;

	background-color: rgba(0,0,0,1); /*black*/	

	background-image: linear-gradient(bottom, rgb(0,0,0) 44%, rgb(148,8,8) 0%, rgb(5,5,5) 86%);

	background-image: -o-linear-gradient(bottom, rgb(0,0,0) 44%, rgb(148,8,8) 0%, rgb(5,5,5) 86%);

	background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 44%, rgb(148,8,8) 0%, rgb(5,5,5) 86%);

	background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 44%, rgb(148,8,8) 0%, rgb(5,5,5) 86%);

	background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 44%, rgb(148,8,8) 0%, rgb(5,5,5) 86%);

	background-size: 100% 100%;

}

/*FOOTER*/

footer {

	margin: .5rem; 0rem;

	color: rgba(255,255,255,1); /*white*/

	opacity: .3;

	text-align: left;

	text-decoration: none !important;

	background: none;

}

footer p {

	display: inline;

	padding-left: .5rem;

	margin-bottom: .5rem;

	font-family: Tahoma, Geneva, sans-serif;

	font-size: 1.4rem;

	border-left: solid thin rgba(255,255,255,1);

}

.vertical-slider li {
	display:block;
	float:none;
	width:500px !important;
	max-width:100% !important;
	margin:0px auto !important;
	padding:0px;
	color:inherit;
	background-image:none;
	border-radius: .5rem;
	-webkit-border-radius: .5rem;
	-moz-border-radius:.5rem;
	border:none;
}

.bx-wrapper .bx-viewport{
	border:0px;
}

.bx-wrapper .bx-viewport{
	left:0px;
}

.bx-viewport{
	background-color:rgba(255,255,255,.0) !important;
}
/*MEDIA QUERIES*/ 

/*MOBILE DISPLAY: Landscape phones and down*/

@media (max-width: 480px) {

.desktop {

display: none;

}

.desktop1{display: none;}
.desktop2 {display: none;}
.desktop3{display: none;}
.top {
	margin: 0rem;
}
/*MOBILE NAV*/

.vert10 {

	min-width: 100%;

}

.vert8 {

	min-width: 100%;

	}

img {
	min-width: 100%;
	margin: 0rem;
	padding: 0rem;
	border-radius: 0rem;
	-moz-border-radius: 0rem;
	-webkit-border-radius: 0rem;
	}

header {

	display:none;

}

#mobile-nav-trigger {

	border-top: .2rem solid rgba(13,13,207,1); 

	border-bottom: .2rem solid rgba(13,13,207,1);	

	color: rgba(255,255,255,1); /*white*/

	background-color: rgba(0,0,0,1); /*black*/	

	line-height: 3.6rem;

	margin-top: .5rem;

	margin-bottom: 0rem;

	text-align: center;

	font-size: 2rem !important;

}

nav {

	min-width: 100%;

	padding-bottom: 0rem;

	margin: 0rem;

	

}

ul li {

	width: 100%;

	padding: 0rem;

	margin: 0rem;

	color: rgba(255,255,255,.9); /*white*/

	background-image: url(../img/page_front/nav_background_red.jpg);

	border: none;

}

li a {	

	display: block;

	float: none;

	margin: 0rem;

	padding: 0rem;

	color: rgba(255,255,255,.90); /*white*/

	background-image: url(../img/page_front/nav_background_blue.jpg);

}	

/*MOBILE BODY*/

#MobLowNav{

	min-width: 100%;

	max-width: 100%;

	margin: 0rem;

	padding: 0rem;

}

#MobLowNav ul li {

	display: inline;	

	width:20%;

	margin: 0;

	padding: 0;

	color: rgba(255,255,255,.75	); /*white*/	

	background-image: url(../img/page_front/nav_background_blue.jpg);

	background-size: cover;

	border-radius: 0rem;

	line-height: 3.6rem;

}

#MobLowNav ul a {

	display: block;

	overflow: hidden;

	font-size: 1.5rem;	

	text-align: center;

	border-radius: 0rem;

	-webkit-border-radius: 0rem;

	-moz-border-radius: 0rem;

	margin: 0rem;

	padding: 0rem;

	color: rgba(255,255,255,.85); /*white*/	

	text-decoration: none;	

}

.mobile a:hover {

	background-image: url(../img/page_front/nav_background_red.jpg);

	background-size: cover;

	border-radius: .5rem;

	color:  rgba(255,255,255,.50); /*white*/	

}

}

/*TABLET DISPLAY: Everything larger than landscape phone*/

@media (min-width: 481px) and (max-width: 959px) {

.mobile {

	display: none;		

}
.desktop1 {
	display: none;
}
/*HEADER*/
.desktop3 {
	
	font-size: 1.6rem;	
	margin: 0rem;
	margin-top: .25rem;
	padding: 0rem;
	}

/*TABLET NAV*/

nav {

	margin: 0rem;

}

#lowNav {

	margin: 0rem;

}
.top2 {
	margin-top: 2.0rem;
}
ul a {

	font-size: 1.4rem;

}

footer p {

	font-size: 1.4rem;

}
section {
	width: 100%;
}
}

/*DESKTOP Larger than tablet*/

@media (min-width: 960px) {

	.mobile {

		display: none;

}
.desktop2 {display: none;}
.desktop3{display: none;}
}
