/*Materials referenced in the creation of this responsive grid include: http://foundation.zurb.com/; http://twitter.github.io/bootstrap/; http://www.getskeleton.com; http://www.newaeonweb.com.br/responsiveaeon/*//*Author: Richard Dick Arnold |SNRWORX*//*Copyright 2013*//* Vert Responsive Grid | Metric Grid 10The Vert Responsive Grid is our in-house conception and standard for mobile first web sites and relies on the metric system. Here the idea is that you can design with 10 base columns with the unique css3 class .vert, shorthand for vertical. Each class of vert represents an incremental increase of 10% measured in horizontal width as expanding on the previous .vert class; except for .vert1 which is the original 10% column or span. Here design with percentage, rem, & em sizing is streamlined as the metric system exalts the well known virtues or properties of the number 10 or other working units of 10. Theoritically an infinite number of new .vert classes can be added to the base 10 .vert class group such that aesthetic values whether symmetrical or asymmetrical in scope can be approached head on yet remain unique and varied; another custom approach to web design and development. The Vert Responsive Grid provides organic solutions mimimizing some of the restrictions set by macro design templates and guides. This is an essentials only responsive grid where less is more. *//*The MIT License (MIT)Copyright (c) <2013> <Richard Arnold>Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.*/
.wrap {
	width: 100%;	
	margin: 0;
	padding: 0;
}
.street025{min-height: 25px;}
.street025x{max-height: 25px;}.street030{min-height: 30px;}.street040{min-height: 40px;}
.street050{min-height: 50px;}.street060{min-height: 60px;}
.street075{min-height: 75px;}
.street1{min-height: 100px;}
.street125{min-height: 125px;}
.street2{min-height: 200px;}
.street3{min-height: 300px;}
.street35{min-height: 350px;}
.street4{min-height: 400px;}
.steet5{min-height: 500px;}
.street6{min-height: 600px;}
.street7{min-height: 700px;}
.street8{min-height: 800px;}
.street9{min-height: 900px;}
.street95{min-height: 950px;}
.street10{min-height: 1000px;}
.street13{min-height: 1300px;}.street, 
.street025, .street025x, .street030, .street040, .street050, .street060, .street075,.street1, .street125, .street2, .street3, .street35, .street4, .street5,.street6, .street7, .street8, .street9, .street95,.street10,.street13  {		margin: 0rem;		padding: 0rem;}
.vert1{width:10%;}
.vert125 {width: 12.5%;}
.vert15 {width: 15%;}
.vert175 {width: 17.5%;}
.vert185 {width: 18.5%;}.vert190 {width: 19%;}
.vert195 {width: 19.5%;}
.vert198 {width: 19.8%;}
.vert199 {width: 19.9%;}
.vert2{width:20%;}
.vert210 {width:21%;}
.vert225 {width: 22.5%;}
.vert25 {width: 25%;}
.vert26 {width: 26%;}
.vert266{width: 26.6%;}
.vert275 {width: 27.5%;}
.vert3{width:30%;}
.vert310{width:31%;}
.vert320{width:32%;}
.vert333{width:33%;}
.vert325 {width: 32.5%;}
.vert35 {width: 35%;}
.vert375 {width: 37.5%;}
.vert4{width:40%;}
.vert425 {width: 42.5%;}
.vert45 {width: 45%;}
.vert475 {width: 47.5%;}
.vert480{width: 48%;}
.vert5{width:50%;}
.vert525 {width: 52.5%}
.vert55 {width: 55%;}
.vert575 {width: 57.5%}
.vert585 {width: 58.5%}
.vert586 {width: 58.6%}
.vert590 {width: 59%}
.vert595 {width: 59.5%}
.vert6{width:60%;}
.vert625 {width: 62.5%;}
.vert65 {width: 65%;}
.vert675 {width: 67.5%;}
.vert7{width:70%;}
.vert725 {width: 72.5%;}
.vert75 {width: 75%;}
.vert775 {width: 77.5%;}
.vert8{width:80%;}
.vert825 {width: 82.5%;}
.vert85 {width: 85%;}
.vert860 {width: 86%;}
.vert870 {width: 87%;}
.vert875 {width: 87.5%;}
.vert876 {width: 87.6%;}
.vert877 {width: 87.7%;}
.vert88 {width: 88%;}
.vert89 {width: 89%;}
.vert9{width:90%;}
.vert925 {width: 92.5%;}
.vert95 {width: 95%;}
.vert975 {width: 97.5%}
.vert980 {width: 98.0%}
.vert10{width:100%;}.vert11{width:110%;}
.vert12{width:120%;}.vert,
.vert1, .vert125, .vert15, .vert175, .vert185, .vert190, .vert195, .vert198,.vert2, .vert210, .vert225, .vert25, .vert275,.vert3, .vert325, .vert350, .vert375,.vert4, .vert425, .vert45, .vert475,.vert5, .vert525, .vert55, .vert575, .vert585, .vert586, .vert590,.vert595,.vert6, .vert625, .vert65, .vert675,.vert7, .vert725, .vert75, .vert775, .vert8, .vert825, .vert85, .vert875,.vert9, .vert925, .vert95, .vert975,.vert10 {	margin: 0rem;	padding: 0rem;}


