/*TYPE DESKTOP*/
@charset "utf-8";
/*HTML*/
html {
	font-size: 62.5%;
	font-family: 'Playball', cursive;
}
/*LINKS DESKTOP*/	
a: hover {
	text-docration: none !important;
	}
a: active {
	text-decoration: none !important:
	}
a: link {
	text-decoration: none !important:
	}
a: button {
	text-decoration: none !important:
}
/*HGROUP DESKTOP*/
h1 {
	font-size: 2.4rem;
	text-align: left;
	margin: 1rem 0rem;
	display: block;
	}
h2 {
	font-size: 2.4rem;
	text-align: left;
	margin: 1rem 0rem;
	display: block;
	}
h3	{
	font-size: 2.4rem;
	text-align: left;
	margin: 1rem 0rem;
	display: block;
	}
h4	{
	font-size: 1.8rem;
	text-align: left;
	margin: .25rem 0rem;
	display: block;
	}

h5	{
	font-size: 1.8rem;
	text-align: left;
	margin: .25rem 0rem;
	display: block;
	}
h6	{
	font-size: 1.8rem;
	text-align: left;
	margin: .25rem 0rem;
	display: block;
	}
/*FRAMES, MARGINS, & WRAPS DESKTOP*/
.wrap {
	width: 100%;
	overflow: auto;
}
.floatL {
	float: left;
}
.floatR {
	float: right;
}
.zeroL  {
	margin-left: 0rem !important;
}
/*TEXT DESKTOP*/
p {
	display: block;
	text-align: left;
	margin-left: 0rem;
	margin-bottom: 1rem;
	}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
} 
.clearfix {
	display: inline-block;
}
.clear {
	clear: both;
	overflow: hidden;
}
article {
	float: left;
	margin: 0rem;
	padding: 0rem;
}
/*IMAGES DESKTOP*/
img {
	border-top: .25rem solid rgba(14,23,179,1); /*blue*/
	border-bottom: solid .25rem rgba(0,0,0,1); /*black*/
	margin-top: 2rem;
	margin-left: 1rem;
	border-radius: .5rem;
	float: left;
	box-shadow: -7px 10px 8px rgba(0,0,0,1); /*black*/
	-webkit-box-shadow: -7px 10px 8px rgba(0,0,0,1); /*black*/
	-moz-box-shadow: -7px 10px 8px rgba(0,0,0,1); /*black*/
}
/*HEADER DESKTOP*/
header {
	margin: .5rem 0rem;
}	
/*NAV DESKTOP*/
nav {
	margin: .5rem 0rem;
}
#lowNav {
	margin: .5rem 0rem;
}
ul li {
	display: inline;
	float: left;
	width:20%;
	margin: .5rem 0rem;
	padding: 0rem;
	color: rgba(255,255,255,.75	); /*white*/	
	background-image: url(../img/page_front/nav_background_blue.jpg);
	background-size: cover;
	border-radius: .5rem;
	-webkit-border-radius: .5rem;
	-moz-border-radius:.5rem;
	border-top: solid thin rgba(0,0,0,1);
	border-bottom: solid thin rgba(0,0,0,1);	
}
ul a {
	display: block;
	overflow: hidden;
	font-size: 2rem;
	line-height: 3rem;
	text-align: center;
	border-radius: .5rem;
	-webkit-border-radius: .5rem;
	-moz-border-radius: .5;
	margin: 0rem 0rem;
	color: rgba(255,255,255,.85); /*white*/		
	text-decoration: none;
}
.desktop a:hover {/*Controls Nav Bar Decoration*/
	background-image: url(../img/page_front/nav_background_red.jpg);
	background-size: cover;
	border-radius: .5rem;
	-webkit-border-radius: .5rem;
	-moz-border-radius:.5rem;
	color:  rgba(255,255,255,.50); /*white*/	
}
/*BODY DESKTOP*/
body {	
	font-size: 1.6rem !important;
	color: rgba(255,255,255,.85); /*white*/	
	background-color: rgba(0,0,0,1); /*black*/	
	background-image: linear-gradient(bottom, rgb(0,0,0) 1%, rgb(148,8,8) 50%, rgb(5,5,5) 90%);
	background-image: -o-linear-gradient(bottom, rgb(0,0,0) 1%, rgb(148,8,8) 50%, rgb(5,5,5) 90%);
	background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 1%, rgb(148,8,8) 50%, rgb(5,5,5) 90%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 1%, rgb(148,8,8) 50%, rgb(5,5,5) 90%);
	background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 1%, rgb(148,8,8) 50%, rgb(5,5,5) 90%);
	background-size: 100% 100%;
	}
/*DEMO_CONTACT DESKTOP*/
#contact {
	background-color: rgba(0,0,0,1); /*black*/
	/*background-color: rgba(255,102,0,1); /*orange*/
	/*background-color: rgba(204,204,204,1); /*grey*/
	text-align: left;
	border-radius: .5rem;
	-webkit-border-radius: .5rem;
	-moz-border-radius: .5rem;
}
#formframe{
	float: left;
	margin-top: .5rem;
	margin-bottom: .5rem;
}
/*FOOTER*/
footer {
	margin: .5rem; 0rem;
	font-size: 1.8rem;
	color: rgba(255,255,255,1); /*white*/
	opacity: .3;
	text-align: left;	
}
footer p {
	display: inline;
	padding-left: .5rem;
	margin-left: 0rem;
	margin-bottom: .5rem;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.4rem;
	border-left: solid thin rgba(255,255,255,1);
}
/*MEDIA QUERIES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/ 
/*MOBILE DISPLAY: Landscape phones and down*/
@media (max-width: 480px) {
.desktop {
display: none;
}
/*MOBILE NAV*/
.vert10 {
	min-width: 100%;
}
.vert8 {
	min-width: 100%;
	}
#mobile-nav-trigger {
	border-top: .2rem solid rgba(13,13,207,1); 
	border-bottom: .2rem solid rgba(13,13,207,1);	
	color: rgba(255,255,255,1); /*white*/
	background-color: rgba(0,0,0,1); /*black*/	
	line-height: 3.6rem;
	margin-top: .5rem;
	margin-bottom: 0rem;
	text-align: center;
	min-width: 100%;
	font-size: 2rem !important;
}
header {
	display:none;
}
#mobile-nav-trigger {
	border-top: .2rem solid rgba(13,13,207,1); 
	border-bottom: .2rem solid rgba(13,13,207,1);	
	color: rgba(255,255,255,1); /*white*/
	background-color: rgba(0,0,0,1); /*black*/	
	line-height: 3.6rem;
	margin-top: .5rem;
	margin-bottom: 0rem;
	text-align: center;
}
nav {
	min-width: 100%;
	padding-bottom: 0rem;
	margin: 0rem;
	
}
ul li {
	width: 100%;
	padding: 0rem;
	margin: 0rem;
	color: rgba(255,255,255,.9); /*white*/
	background-image: url(../img/page_front/nav_background_red.jpg);
	border: none;
}
li a {	
	display: block;
	float: none;
	margin: 0rem;
	padding: 0rem;
	color: rgba(255,255,255,.90); /*white*/
	background-image: url(../img/page_front/nav_background_blue.jpg);
	font-size: 1.6rem;
}	
/*MOBILE BODY*/
#MobLowNav{
	min-width: 100%;
	max-width: 100%;
	margin: 0rem;
	padding: 0rem;
}
#MobLowNav ul li {
	display: inline;	
	width:20%;
	margin: 0;
	padding: 0;
	color: rgba(255,255,255,.75	); /*white*/	
	background-image: url(../img/page_front/nav_background_blue.jpg);
	background-size: cover;
	border-radius: 0rem;
	line-height: 3.6rem;
}
#MobLowNav ul a {
	display: block;
	overflow: hidden;
	font-size: 1.5rem;	
	text-align: center;
	border-radius: 0rem;
	-webkit-border-radius: 0rem;
	-moz-border-radius: 0rem;
	margin: 0rem;
	padding: 0rem;
	color: rgba(255,255,255,.85); /*white*/	
	text-decoration: none;	
}
.mobile a:hover {
	background-image: url(../img/page_front/nav_background_red.jpg);
	background-size: cover;
	border-radius: .5rem;
	color:  rgba(255,255,255,.50); /*white*/	
}
/*MOBILE FORMCONTACT*/
#contact {
	min-width: 100;
	background-color: rgba(0,0,0,1); /*black*/
	/*background-color: rgba(255,102,0,1); /*orange*/
	/*background-color: rgba(204,204,204,1); /*grey*/
	text-align: left;
	border-radius: 0rem;
	margin: 0rem;
	padding: 0rem;
}
#formframe {
	min-width: 100%;
	margin-top: 0rem;
	margin-bottom: 0rem;
	padding: 0rem;
}
}
/*TABLET DISPLAY: Everything larger than landscape phone*/
@media (min-width: 481px) and (max-width: 959px) {
	.mobile {
		display: none;
}
/*TABLET NAV*/
}
ul a {
	font-size: 1.6rem;
}
/*TABLET FORMCONTACT*/
#formframe {
	min-width: 100%;
	}
#contact-form {
	border-radius: .5rem;
	-webkit-border-radius: .5rem;
	-moz-border-radius: .5rem;
	}
}
/*DESKTOP Larger than tablet*/
@media (min-width: 960px) {
	.mobile {
		display: none;
	}
}
	
